<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<title><%=room.topic%> - Vchat</title>
	<meta name="keywords" content="vchat,vchat.co,多人讨论,话题,活动,兴趣,<%=room.topic%>,<%=room.des%>"/>
	<meta name="description" content="<%=room.topic%>,<%=room.des%>"/>
	<link rel="stylesheet" type="text/css" href="/public/css/common.css"/>
	<link rel="stylesheet" type="text/css" href="/public/css/chat_new.css"/>


	<link rel="next"  href="/t/<%=room.name ? room.name : room.id%>?t=<%=nextTime%>">
	<link rel="prev"  href="/t/<%=room.name ? room.name : room.id%>?t=<%=prevTime%>">

	<!--[if lte IE 10]>  <script> location.href = "/ie"; </script> <![endif]-->

	<script type="text/javascript" src="/public/js/lib/jquery-1.6.3.min.js"></script>
	<script type="text/javascript" src="/public/js/lib/we.min.js"></script>
	<script type="text/javascript">

		var USER = <%- JSON.stringify(user)%>;
		var ROOM = <%- JSON.stringify(room)%>;
		
	</script>
</head>
<body>
	
	<!-- top {user:{user}} -->
	<% include common/top.ejs %>
	
	<div class="wall-room " id="wall-room">
		<div class="main " id="main">
			
			<div class="main-wall chat-wall ">
				<div class="main-title " id="title-box">
					<h1 title="<%=room.topic %>">
						<span class="title-txt"><%=tool.cutOff(room.topic,40)%></span>
						&nbsp;&nbsp;<% if( room.master._id == user._id ){ %><span id="room-edit-boot" class="edit hidden">编辑</span><% } %>
					</h1>
					<div class="edit-topic clearfix hidden" id="room-edit-box">
						<form action="/api/room-update" method="post" id="room-edit-form">
							<input type="hidden" value="<%=room.id %>">
							<ul>
								<li>
									<input class="topic-name" name="topic" placeholder="Edit topic" value="<%=room.topic %>" id="topic-name">
								</li>
								<li>
									<label class="checkbox"><input <% if( room.password != null ){ %> checked <% } %> type="checkbox" id="checkpwd">访问权限</label>
								</li>
								<li>
									<input name="password" placeholder="请输入访问密码" class="<% if( room.password == null ){ %> hidden <% } %>" id="password">
								</li>
								
							</ul>
							<p class="btns">
								<button type="button" class="btn btn-white close-btn">取消</button>
								<button type="button" class="btn topic-edit-submit">修改</button>
							</p>
						</form>
					</div>
				</div>

				<div class="main-content">
					<div class="content-inner">
						<div class="clear-overflow" id="timeline-bar">
							<div class="line"></div>
							
							<div class="talks" id="timeline-talks">
								<div class="more-talks hidden" id="more-talks">
									<span class="tips">查看更多信息...</span>	
								</div>
								<!-- talk -->
							</div>
						</div>
					</div>
				</div>

				<div class="main-input" id="post-box">
					<% if( room.status ){ %>
					<div class="hidden" id="replay-box">

					</div>
					<div class="text-box">
						<!-- <div class="tips-box">
							<div class="content hidden">
								<i class="arrow"></i>
								<span>输入框自动聚焦</span>
							</div>
							<span class="tips-boot">?</span>
						</div> -->
						
						<input type="text" tabindex="1" autofocus placeholder="type your message">
					</div>
					<% }else{ %>
					<div class="not-input">
						<span>该话题已锁定</span>
						<div class="mark">
							<span class="mark-quest">?</span>
							<div class="des hidden">
								<i class="arrow"></i>
								<span>如果48小时内没有任何信息发布，系统将会默认锁定该话题，<a class="owner" href="/user/<%=room.master._id %>"><%=room.master.name %></a>有权力再次开启</span>
							</div>
						</div>
						
						<% if( room.masterId == user._id ){ %>
							<button id="activation-open-btn" class="btn btn-small btn-white">开启</button>
						<% } %>

					</div>
					<% } %>
					
				</div>

			</div>

			<div class="main-wall video-wall hidden" id="video-wall">

				Loading...
			</div>
		</div>

		<div class="l-aside">


			<div class="l-aside-wall tab-wall">

				<div class="tab-wall-title">
					<ul class="tab-select" id="tab-select">
						<li>
							<a id="online-btn" class="select" title="在线的小伙伴">
								<i class="icon-users color-users-dark"></i>
							</a>
						</li>
						<li>
							<a id="history-btn" title="历史来访的小伙伴">
								<i class="icon-userlist"></i>
							</a>
						</li>
					</ul>

					<a class="invite-btn" id="invite-btn" title="点击邀请你的小伙伴">
						<i class="icon-add"></i>
					</a>
				</div>
				<div class="tab-wall-content"  id="tab-content">

					<!--online s-->
					<div class="l-aside-online online-wall tab-wall-cell" id="online">
						<div class="title">
							<span>
								@ 在线的小伙伴
							</span>
						</div>
						<div class="users-box">
							<div class="offline-tips hidden" id="offline-tips">正在重新连接服务器...</div>
							<ul class="users" id="user-list">
								<!-- online users -->				
							</ul>
						</div>

					</div>
					<!--online e-->

					<!--history s-->
					<div class="l-aside-historyuser history-wall tab-wall-cell hidden" id="history">
						<div class="title">
							<span>历史来访的小伙伴</span>
						</div>
						<div class="users-box ">
							<ul class="users clear-fix" id="history-list">
								<li class="loading">
									正在加载中...
								</li>
								<!-- history users -->
							</ul>
						</div>
					</div>
					<!--history e-->


				</div>
			</div>


			<div class="l-aside-wall invite-wall" id="invite">
				<span class="close-btn js-close-btn invite-btn">
					<i class="icon-add"></i>
				</span>

				
				<div class="title">
					你或许想邀请:
				</div>

				<div class="email-input">
					<input placeholder="或者输入邀请的邮箱地址">
					<div class="invite-tips hidden">邮件成功发送</div>
					<div class="error-tips hidden">Error</div>
				</div>
				<div class="users-list">
					<ul id="users-list">
					
					</ul>
				</div>

				<div class="btns">

					<button class="btn btn-white js-close-btn">取消</button>
					<button class="btn" id="invite-submit">发送邀请</button>
				</div>
			
			</div>

		</div>	
	</div>
	
	
	<script type="text/javascript" src="/public/js/lib/jquery-1.6.3.min.js"></script>
	<script type="text/javascript" src="/public/js/lib/we.min.js"></script>
	<script type="text/javascript" src="/public/js/we.top.min.js"></script>
	<script type="text/javascript" src="/public/js/we.chat.min.js"></script>


	<script src="/public/js/webchat-rtc.js"></script>

	<script type="text/javascript">

		//与服务器建立socket连接
		var connectionSocketServer = {
			socket:null,
			weightTime:0,
			isLink:false,
			init:function(){

				var _this = this;
				// add "/s" ie 10 bug?
				var socket = this.socket = new WebSocket("wss://"+window.location.host+"/s");
				var socketMessage = {
					"connection":function(){
						//登录到房间
						socket.send( JSON.stringify({ type:"login", data:{roomid:ROOM.id} }) );

					},
					"on-line":function( data ){

						// console.log('data',data);

						WE.pageChat.userlist.append( data );

						if( data._id != USER._id ){
							WE.top.msgNotice.onTitleNotice( data.name +' 上线了',false );
						}
						
					},
					"off-line":function( data ){
						WE.pageChat.userlist.remove( data );

						if( data._id != USER._id ){
							WE.top.msgNotice.onTitleNotice( data.name +' 下线了',false );
						}
					},
					"user-list":function( data ){
						//console.log("daga", data);
						// $('#socketConnectioning').hide();
						$('#offline-tips').fadeOut();
						$('#user-list').show();
						WE.pageChat.userlist.init( data );
					},
					"new-chat":function( data ){
						
						// update talk
						var eleId = WE.pageChat.postList.shift();

							WE.pageChat.timeLine.updatePost( eleId, data );
						
						//WE.pageChat.notice.onUpdate();
						if( data.aim && data.aim._id == USER._id ){
							new WE.api.NoticeModel().noticeStatus( data.aim._id );
						}

						WE.top.msgNotice.onTitleNotice( data.from.name +' 说...',true );
						
					}
				};

				socket.onopen = function( e ){

					window.console && console.log("onopen");

					_this.isLink = true;
				};
				
				socket.onmessage = function( e ){
					var data = JSON.parse(e.data);
					//console.log("onmessage", data);
					if( socketMessage[data.type] ){
						socketMessage[data.type]( data.data );
					}else{
						window.console && console.log("onmessage miss", data);
					}
				}

				socket.onclose = function(){
					// $('#socketConnectioning').hide();
				 	$('#offline-tips').fadeIn();
					$('#user-list').hide();
					_this.isLink = false;
					connectionSocketServer.startDisconnectionWeightTraining();
				}

				$('#socketConnectioning').show();
			},
			//开启断线重连
			startDisconnectionWeightTraining:function(){

				var _this = this;
				setTimeout(function(){

					console.log("重新连接"+ _this.weightTime/2000 +"次");
					_this.socket && _this.socket.close();
					_this.init();

				}, this.weightTime+= 2000 );

			}
		};			
	</script>

	<script type="text/javascript">
		WE.top.init();
		
		connectionSocketServer.init();

		WE.pageChat.init();
		WE.pageChat.historylist.init();
		WE.pageChat.invite.init();
		WE.pageChat.roomEdit.init();
		WE.pageChat.videoChat.init();
		WE.pageChat.activation.init();
		WE.pageChat.timeLine.init( <%- JSON.stringify( indexChats ) %>,<%- chats_count %> );
		
		//WE.pageChat.notice.init();	
	</script>


</body>
</html>