<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title><%=topic%> - Web Chat</title>
	<% include common/links %>
</head>
<body>
	<style type="text/css">
		.we-dialog{position:fixed;border:1px solid #ccc;background:#fff;z-index:100;
			box-shadow: rgba(0,0,0,.5) 0px 0px 30px 0px;
		}
		.we-dialog-in{margin:10px;}
	</style>
<%if(!user){%>
<div class="we-dialog" style="width:400px;left:50%;margin-left:-200px;">
	<div class="we-dialog-in">
		<form action="/sys/setname">
			<ul class="reset">
				<li>
					<label>设置昵称先：</label>
					<input type="text" value="" placeholder="你还是匿名" >
				</li>
				<li>
					<input type="submit" value="提交" class="btn">
				</li>
			</ul>
		</form>
	</div>
</div>
<%}%>
<div class="container">
	<div class="header"></div>
	<div class="row">
		<div class="span3">
			<%if(user){%>
				<div>
						<%=user.name || user.mail%> | <a href="#">设置</a> | <a href="/sys/out">登出</a>
				</div>
			<%}%>
			<div class="time-search">
				<ul>
					<li><a href="#" class="time-name on">Now</a></li>
					<li><a href="#" class="time-name">10:00</a></li>
					<li><a href="#" class="time-name">9:00</a></li>
					<li><a href="#" class="time-name">更早</a></li>
				</ul>
			</div>
		</div>
		<div class="span9">
			<div class="main">
			
				<div class="timeline"></div>
				
				<div class="header" id="header">
					<h1 id="topic" ><%=topic%></h1>
					<p id="directions"><%=des%></p>
				</div>

				<div class="post-box" id="postbox"><!--post-box-fixed-->
					<form  method="post" id="postForm"  action="#">
						<input type="hidden" name="roomid" id="roomid" value="<%=id%>">
						<div class="post-box-in" id="postboxIn">
							<span class="lj-in lj-right"><span class="lj-in lj-span"></span></span>
							<span class="lj-dot"><span class="lj-d"></span></span>
							<div class="post-text-box">
								<textarea class="post-text" id="postText" name="text"></textarea>
							</div>
							<div class="btns"><input type="submit" class="btn" value="发送" /></div>
						</div>
					</form>
				</div>

				<div id="timelineChats">

				</div>
				
			</div>
		</div>
	</div>
	<div class="slide-list">
		<ul id="userlist">
			
		</ul>
	</div>
</div>
<script type="text/javascript" src="js/we.page.chat.js"></script>
<script type="text/javascript">

	WE.pageChat.onlineUserList = [
		{
			id:123,
			name:"lujun"
		},
		{
			id:123,
			name:"jun"
		},
		{
			id:123,
			name:"nihao"
		},
		{
			id:123,
			name:"luyu"
		}
	];

	WE.pageChat.init();
	//WE.pageChat.userlist.init( <%- JSON.stringify(onlineUser) %> );
	WE.pageChat.timeLine.init( <%- JSON.stringify( indexChats ) %> )
</script>
</body>
</html>