<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title><%=room.topic%> - Vchat</title>
	<link rel="stylesheet" href="css/all.css" />
	<link rel="stylesheet" href="/css/we.min.css" />
	<script type="text/javascript" src="/js/jquery-1.6.3.min.js"></script>
	<script type="text/javascript" src="/js/we.min.js"></script>
	<script type="text/javascript" src="/js/we.api.chat.js"></script>
	<script type="text/javascript">

		var USER = <%- JSON.stringify(user)%>;
		var ROOM = <%- JSON.stringify(room)%>;
		
	</script>
</head>
<body>
	
	<div class="top">
		<ul class="nav f-r">
			<li class="drop-down">
				<a href="#" class="account" >
					<span><%=user.name || user.mail%>的帐号</span>
					<span class="arrow"></span>
				</a>
				<div class="drop-down-items">
					<ul>
						<li><a href="javascript:;" id="username" >修改昵称</a></li>
						<%if(/^\d+$/.test(user.mail)){%>
							<li><a href="javascript:;" id="bindmail" >绑定Email</a></li> 
						<%}%>
						<li><a href="#">我参与过的对话</a></li>
						<li><a href="/sys/login">切换用户</a></li>
					</ul>
				</div>
			</li>
		</ul>
		<ul class="nav">
			<li><a href="/">Vchat</a></li>
			<li><a href="/">创建对话</a></li>
		</ul>
	</div>
	
	<div class="container">
		<div class="bd">
			<div class="side">
				
				<div class="room">
					<h1 class="topic">
						<span id="topic"><%=room.topic%></span> 
						<span class="icon icon-edit" title="修改"></span>
					</h1>
					<p class="des" id="directions"><%=room.des%></p>
				</div>
				
				<div class="">
					<p>创建者：<a href="#"><%=room.masterId%></a></p>
					<p>地址：<a href="#">http://vchat.co/<%=room.name ? room.name : room.id%></a></p>
				</div>
				
				<div class="user-list">
					<div class="title">Online</div>
					<div class="list">
						<ul>
							<li>
								<a href="#">
									lujun
								</a>
							</li>
							
							
						</ul>
					</div>
				</div>
				
				<div class="user-list">
					<div class="title">Offline</div>
					<div class="list">
						<ul>
							<li>
								<a href="#">
									<img src="http://img3.douban.com/icon/u67009572-6.jpg" width="32" height="32" alt="" />
								</a>
							</li>
							
						</ul>
					</div>
				</div>
				
			</div>
			<div class="main">
				
				
				<div class="chats">
					
					
					<div class="timeline"></div>
					<div class="chat">
						<div class="dot my"></div>
						<div class="photo">
							<a href="#" title="点击换一个头像" >
								<img src="http://img3.douban.com/icon/u67009572-6.jpg" alt="hello" />
							</a>
						</div>
							
						<div class="info">	
							<div class="post-box">
								<form  method="post" id="postForm"  action="/sys/post">
									<input type="hidden" name="roomid" id="roomid" value="<%=room.id%>" >
								<div class="post-box-in" id="postboxIn">
									<div class="post-text-box">
										<textarea class="post-text" id="postText" name="text"></textarea>
									</div>
									<div class="btns">
										<div class="btn-group" id="postTypeGroup">
											<button class="btn" tabindex="-1" type="submit">发送</button>
										</div> 
									</div>
								</div>
								</form>
							</div>
						</div>
					</div>
					
					<div class="chat-list">
						<div class="time-search-box">
							<div class="time-search">
								<ul>
									<li><a href="#" class="time-name on">Now</a></li>
									<li><a href="#" class="time-name">10:00</a></li>
									<li><a href="#" class="time-name">9:00</a></li>
									<li><a href="#" class="time-name">更早</a></li>
								</ul>
							</div>
						</div>
						<div id="timelineChats"></div>
					</div>
					
				</div>
				
				
			</div>
		</div>
	</div>
	
	<div class="footer">
		
	</div>
<script type="text/javascript" src="/js/Markdown.Converter.min.js"></script>
<script type="text/javascript" src="/js/we.page.chat.js"></script>
<script type="text/javascript">

	var markdown = new Markdown.Converter();
	$('#directions').html( function(){
			return markdown.makeHtml( $(this).text() ) 
	});
	WE.pageChat.init();
	//WE.pageChat.userlist.init(WE.pageChat.onlineUserList);
	WE.pageChat.timeLine.init( <%- JSON.stringify( indexChats ) %> );
	//
	WE.pageChat.userlist.regEvent();
</script>

</body>
</html>