<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title><%=room.topic%> - Vchat</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/all.css" />

	<!--[if lte IE 7]>  <script> location.href = "http://127.0.0.1:3000/sys/ie"; </script> <![endif]-->

	<script type="text/javascript" src="/js/jquery-1.6.3.min.js"></script>
	<script type="text/javascript" src="/js/we.min.js"></script>

	<script type="text/javascript">

		var USER = <%- JSON.stringify(user)%>;
		var ROOM = <%- JSON.stringify(room)%>;
		
	</script>
</head>
<body>
	<!-- top {user:{user}} -->
	<% include common/top.ejs %>
	
	<div class="container">
		<div class="bd">
			<div class="side">
				
				<div class="room">
					<h1 class="topic">
						<span id="topic"><%=room.topic%></span> 
						<%if(user._id == room.masterId){%>
						<span class="icon icon-edit" id="setting" title="修改"></span>
						<%}%>
					</h1>
					<p class="des" id="directions"><%=room.des%></p>
				</div>
				
				<div class="">
					<ul>
						<li>创建者：<a href="#" data-masterid="<%=room.masterId%>"><%=room.masterName%></a></li>
						<li>地址：
							<a href="#">http://vchat.co/<%=room.name ? room.name : room.id%></a>
						</li>
					</ul>
				</div>
				
				<div class="user-list">
					<div class="title">Online</div>
					<div class="list">
						<ul class="reset clear-fix" id="userlist">
							<li><div class="we-loading" style="width:32px;height:32px;"></div></li>
						</ul>
					</div>
				</div>
				
				<div class="user-list">
					<div class="title">History</div>
					<div class="list">
						<ul class="reset clear-fix history-list" id="history-list">
							<li><div class="we-loading" style="width:32px;height:32px;"></div></li>
						</ul>
					</div>
				</div>
				
			</div>
			<div class="main">
				
				
				<div class="chats">
					
					
					<div class="timeline"></div>
					<div class="chat">
						<div class="dot my"></div>
						<div class="photo">
							<a href="#" title="点击换一个头像" >
								<img src="<%=user.avatar%>" id="user-Avator" alt="hello" />
							</a>
						</div>
							
						<div class="info">	
							<div class="post-box">
								<form  method="post" id="postForm" class="post-form"  action="/sys/post">
									<input type="hidden" name="to" id="to" value="">
									<input type="hidden" name="roomid" id="roomid" value="<%=room.id%>" >
								<div class="post-box-in" id="postboxIn">
									<div class="post-text-box">
										<textarea class="post-text" id="postText" maxlength="2000" name="text"></textarea>
									</div>
									<div class="btns">

										<div class="btn-group" id="postTypeGroup">
											<button class="btn" tabindex="-1" title='可使用"ctrl+enter"快捷提交' type="submit">发送</button>
										</div> 
									</div>
								</div>
								</form>
							</div>
							<div class="quote fs_12 pad_a5" id="quote" style="display:none;">
								<span class="quote-text"></span>
								<a href="javascript:void(0)" class="quote-user"></a>
								<a class="quote-del f-r" href="javascript:void(0)">×</a>
							</div>
						</div>


					</div>
					
					<div class="chat-list">
						
						<div id="timelineChats"></div>
						<div class="we-loading timeline-loading hidden" id="timelineLoading" ></div>
					</div>
					
				</div>
				
				
			</div>
		</div>
	</div>
	
<div class="footer"></div>



<!--Chat Page-->
<script type="text/javascript" src="/js/we.chat.min.js"></script>
<!--Top Page-->
<script type="text/javascript" src="/js/we.top.min.js"></script>
<script type="text/javascript">
	WE.pageChat.init();
	WE.pageChat.timeLine.init( <%- JSON.stringify( indexChats ) %> );
	WE.pageChat.userlist.regEvent();
</script>
<script src="/js/socket.io.min.js"></script>
<script type="text/javascript">
	//匿名用户

	//WE.pageChat.setUserName( USER );

	if(USER.name == "" && /^\d+$/.test(USER.mail)){
		WE.pageTop.setUserName( USER );
		//匿名用户不连接 socket
	}

		
	var socket = io.connect( document.location.host );
	socket.emit("setting", {roomid:ROOM.id});

	socket.on('userlist', function( data ){
		//console.log( data );
		WE.pageChat.userlist.init( data );
	});

	socket.on("online", function(data){

		WE.pageChat.userlist.append( data );

	});

	socket.on("offline", function( data ){

		WE.pageChat.userlist.remove( data );
	});

	socket.on('newChat', function(data) {
		//console.log(data);
		WE.pageChat.timeLine.prepend( data );
	});
		
</script>
</body>
</html>