<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title><%=room.topic%> - Vchat</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/all.css" />
	<script type="text/javascript" src="/js/jquery-1.6.3.min.js"></script>
	<script type="text/javascript" src="/js/we.min.js"></script>
	<script type="text/javascript" src="/js/we.api.chat.js"></script>
	<script type="text/javascript">

		var USER = <%- JSON.stringify(user)%>;
		var ROOM = <%- JSON.stringify(room)%>;
		
	</script>
</head>
<body>
	<!-- top {user:{user}} -->
	<% include common/top.ejs %>
	
	<div class="container">
		<div class="bd">
			<div class="side">
				
				<div class="room">
					<h1 class="topic">
						<span id="topic"><%=room.topic%></span> 
						<%if(user._id == room.masterId){%>
						<span class="icon icon-edit" id="setting" title="修改"></span>
						<%}%>
					</h1>
					<p class="des" id="directions"><%=room.des%></p>
				</div>
				
				<div class="">
					<ul>
						<li>创建者：<a href="#" data-masterid="<%=room.masterId%>"><%=room.masterName%></a></li>
						<li>地址：
							<a href="#">http://vchat.co/<%=room.name ? room.name : room.id%></a>
						</li>
					</ul>
				</div>
				
				<div class="user-list">
					<div class="title">Online</div>
					<div class="list">
						<ul class="reset" id="userlist"></ul>
					</div>
				</div>
				
				<div class="user-list">
					<div class="title">History</div>
					<div class="list">
						<ul class="reset">
							<li>
								<a href="#">
									<img src="http://img3.douban.com/icon/u67009572-6.jpg" width="32" height="32" alt="" />
								</a>
							</li>
							
						</ul>
					</div>
				</div>
				
			</div>
			<div class="main">
				
				
				<div class="chats">
					
					
					<div class="timeline"></div>
					<div class="chat">
						<div class="dot my"></div>
						<div class="photo">
							<a href="#" title="点击换一个头像" >
								<img src="<%=user.avatar%>" alt="hello" />
							</a>
						</div>
							
						<div class="info">	
							<div class="post-box">
								<form  method="post" id="postForm"  action="/sys/post">
									<input type="hidden" name="roomid" id="roomid" value="<%=room.id%>" >
								<div class="post-box-in" id="postboxIn">
									<div class="post-text-box">
										<textarea class="post-text" id="postText" maxlength="2000" name="text"></textarea>
									</div>
									<div class="btns">
										<div class="btn-group" id="postTypeGroup">
											<button class="btn" tabindex="-1" type="submit">发送</button>
										</div> 
									</div>
								</div>
								</form>
							</div>
							<div class="orig" id="orig">
								<span class="origText"></span>
								<span class="origUser"></span>
								<a href="javascript:void(0)" class="origDel">×</a>
							</div>
						</div>


					</div>
					
					<div class="chat-list">
						<div class="time-search-box">
							<div class="time-search">
								<ul>
									<li><a href="#" class="time-name on">Now</a></li>
									<li><a href="#" class="time-name">10:00</a></li>
									<li><a href="#" class="time-name">9:00</a></li>
									<li><a href="#" class="time-name">更早</a></li>
								</ul>
							</div>
						</div>
						<div id="timelineChats"></div>
					</div>
					
				</div>
				
				
			</div>
		</div>
	</div>
	
	<div class="footer">
		
	</div>
<script type="text/javascript" src="/js/Markdown.Converter.min.js"></script>
<script type="text/javascript" src="/js/we.page.chat.js?1"></script>
<script type="text/javascript">

	var markdown = new Markdown.Converter();
	$('#directions').html( function(){
			return markdown.makeHtml( $(this).text() ) 
	});
	WE.pageChat.init();
	//WE.pageChat.userlist.init(WE.pageChat.onlineUserList);
	WE.pageChat.timeLine.init( <%- JSON.stringify( indexChats ) %> );
	//
	WE.pageChat.userlist.regEvent();
</script>
<script src="/js/socket.io.min.js"></script>
<script type="text/javascript">
	//匿名用户

	//WE.pageChat.setUserName( USER );

	if(USER.name == ""){

		WE.pageChat.setUserName( USER );

		//匿名用户不连接 socket
	}else{

		var socket = io.connect( document.location.host );
		socket.emit("setting", {roomid:ROOM.id});

		socket.on('userlist', function( data ){
			//console.log( data );
			WE.pageChat.userlist.init( data );
		});

		socket.on("online", function(data){

			WE.pageChat.userlist.append( data );

		});

		socket.on("offline", function( data ){

			WE.pageChat.userlist.remove( data );
		});

		socket.on('newChat', function(data) {
			//console.log(data);
			WE.pageChat.timeLine.prepend( data );
		});
		
	}
</script>
</body>
</html>