<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>Vchat - 基于主题的多人对话</title>
	<meta name="keywords" content="vchat,vchat.co,多人讨论,话题,活动,兴趣"/>
	<meta name="description" content="基于话题的多人讨论平台"/>


	<link rel="stylesheet" type="text/css" href="/public/css/common.css"/>


	<style type="text/css">
		.head{background:#f6f6f6;position:relative;margin-top:40px;border-radius:3px;margin-bottom: 50px;}
		.logo{width:100px;float:left;margin-top:15px;margin-left:20px;line-height: 50px;text-align: center;}
		.recommend{margin-left:130px;margin-right:300px;padding:10px;}
		.recommend h2{font-size:16px;}

		.create-form{position:absolute;top:0;right:20px;background: #fff;padding:10px 30px;
			border:1px solid #e9eef2;border-top:none;border-radius:3px; }
	</style>

	<script type="text/javascript">
		var USER = <%- JSON.stringify(user)%>;
	</script>
</head>
<body>
	<!-- top {user:{user}} -->
	<% include common/top.ejs %>
	
	
	<div class="container">
		<div class="head">
			<div class="logo"><img src="/public/images/logo.png" title="vchat" > </div>
			<div class="recommend">
				<h2>Vchat基于主题的多人对话</h2>
				<%if(recommendOne){
				%>
				<div>
					<a href="/<%=recommendOne.name ? recommendOne.name : recommendOne.id%>" title="<%=recommendOne.topic%>" >
						<%=recommendOne.topic%>
					</a>
					<p>
						<small class="muted" title="<%=recommendOne.des%>" >
							<%=tool.cutOff(recommendOne.des, 50)%>
						</small>
					</p>
				</div>
				<%}%>
			</div>
			<div class="create-form">
					<h3>创建对话</h3>
					<form action="/sys/create" method="post">
						<ul class="reset">
							<li>
								<input type="text" id="topic" name="topic" maxlength="200" placeholder="讨论主题">
							</li>
							<li>
								<textarea placeholder="描述" name="des" maxlength="500" style="height:100px;" id="des"></textarea> 
							</li>
							<li><input type="submit" class="btn" value="创建对话"></li>
						</ul>
					</form>

					<%
						var keys = Object.keys( log );
						if( keys.length ){
					%>
					<ul>
						<%for(var i=0; i<keys.length; i++){
							if(i>5){ break; }
						%>
							<li>
								<a href="/<%=log[ keys[i] ].name ? log[ keys[i] ].name : log[ keys[i] ].id%>"><%=tool.cutOff(log[ keys[i] ].topic, 20)%></a>
							</li>
						<%}%>
					</ul>
					<%}%>
					
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<h4>最新对话...</h4>
				<div class="new-list">
					<ul>
						<%for(var i=0; i<newRoom.length; i++){%>
						<li>
							<a href="/<%=newRoom[i].name ? newRoom[i].name : newRoom[i].id%>" title="<%=newRoom[i].topic%>" >
							<%=tool.cutOff(newRoom[i].topic,20)%></a>
							<p><small title="<%=newRoom[i].des%>" ><%=tool.cutOff(newRoom[i].des, 20)%></small></p>
						</li>
						<%}%>
						
					</ul>
					
				</div>
			</div>
			<div class="span4">
				<h4>推荐的对话</h4>
				<div class="new-list">
					<ul>

						<%for(var i=0; i<recommendRooms.length; i++){%>
						<li>
							<a href="/<%=recommendRooms[i].name ? recommendRooms[i].name : recommendRooms[i].id%>" title="<%=recommendRooms[i].topic%>" >
							<%=tool.cutOff(recommendRooms[i].topic,20)%></a>
							<p><small title="<%=recommendRooms[i].des%>" ><%=tool.cutOff(recommendRooms[i].des, 20)%></small></p>
						</li>
						<%}%>
					</ul>
				</div>
			</div>
		</div>
		
	</div>
	<% include common/footer.ejs %>
	

	<script type="text/javascript" src="/public/js/jquery-1.6.3.min.js" ></script>
	<script type="text/javascript" src="/public/js/we.min.js"  ></script>
	<script type="text/javascript" src="/public/js/we.top.min.js" ></script>

</body>
</html>
