<!DOCTYPE HTML>
<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<title>Search</title>

	<link rel="stylesheet" type="text/css" href="/public/css/common.css">

	<style type="text/css">

		html,body{background:#d5d8dd}

		header{position:fixed;width:100%;}
		.main{width: 70%;max-width: 900px;padding-top:60px;}
		.result-tips{border-top: #fbffff solid 1px;padding:10px 0px;font-weight: bold}
		.no-result{text-align:center;border: #b2b6b9 solid 1px;background: #eee;border-top: 0;padding: 30px}
			.feed{background:#fff;border:#bababa solid 1px; box-shadow:0px 0px 1px #A8A8A8;margin-bottom: 15px}
			.feed h3{padding:20px 0px;}
			.feed .topic{color:#505050;padding:0px 5px;font-size:16px;display:inline-block;margin-left:10px;} 
			.feed .topic:hover{background:#eee;}
			.feed .tack{border-top:#e4e4e4 solid 1px;background:#f8f8f8;color:#808080;padding:5px 5px 5px 15px;font-size:13px;}
			.feed .create-user img{width: 25px;height: 25px;border-radius: 4px;vertical-align: middle;margin-right: 5px}
			.feed .create-user a{font-size:13px;color:#B4B4B4;} .feed .create-user a:hover{color:#666;}
			.feed .tack .talks,.feed .tack .joins{display: inline-block;line-height: 25px}
			.feed .tack .joins{margin:0px 15px 0px 10px;}

		/* search */
		.search{padding:0px 0px 20px 0px;border-bottom: #b2b6b9 solid 1px;}
		.search-bar{position:relative;}
		.search h1{font-size:22px;line-height:35px;margin-bottom: 5px;}
		.search input{font-size: 13px;width: 100%;padding: 7px;padding-right:80px;
			height: 36px;
			box-sizing: border-box;
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
			-o-box-sizing:border-box;
		}
		.search button{position:absolute;right: 0px;bottom: 1px}

	</style>

	<script type="text/javascript">

		var result = <%-JSON.stringify(result) %>;
	</script>
</head>
<body>

	<!-- top {user:{user}} -->
	<% include common/top.ejs %>

	<div class="main set-middle">

		<div class="search">
			<h1>Search</h1>
			<div class="search-bar clearfix">
				<form method="get" action="/search">
					<input id="search-input" autofocus placeholder="Search topics" name="key" value="<%=key %>">
					<button type="submit" class="btn">Search</button>
				</form>
			</div>
		</div>

		<% var len = result.length; %>

		<div class="result-tips <% if( len == 0 ){ %> no-result <% } %>">
			<% if( len == 0 ){ %>
				No result...
			<% }else{ %>
				We've found results
			<% } %>		
		</div>

		<% if(result.length > 0 ){ %>
		<div class="feeds">
			<% 
				var item = null;
				for( var i=0; i<result.length;i++){

					item = result[i];

			%>
			<div class="feed">
				<h3>
					<a class="topic" href="/t/<%=item.name || item.id %>">
						<i class="icon-chat"></i>
						<%=item.topic %>
					</a>
				</h3>
				<div class="tack clearfix">
					<div class="create-user pull-left">
						<a href="/user/<%item.master._id %>">
							<img src="<%=item.master.avatar %>">
							<%=item.master.name == "" ? "(未设置昵称)" : item.master.name %>
						</a>
					</div>
					<div class="pull-right">
						<span class="time">
							<%=tool.weFormat(item.time * 1000)%>
						</span>
					</div>
				</div>
			</div>
			<% } %>
		</div>
		<% } %>

	</div>


	<script type="text/javascript" src="/public/js/lib/jquery-1.6.3.min.js"></script>
	<script type="text/javascript" src="/public/js/lib/we.min.js"></script>
	<script type="text/javascript" src="/public/js/we.top.min.js"></script>

	<script type="text/javascript">
		WE.top.init();
	</script>
</body>
</html>