<!DOCTYPE html>
<html>
<head>

	<!-- 首页链接，你爱跳不跳 vchat.co -->
	<meta charset="UTF-8">
	<title><%=room.topic%> - Vchat</title>
	<meta name="keywords" content="vchat,vchat.co,多人讨论,话题,活动,兴趣,<%=room.topic%>,<%=room.des%>"/>
	<meta name="description" content="<%=room.topic%>,<%=room.des%>"/>
	<link rel="stylesheet" type="text/css" href="/public/css/common.css"/>
	<link rel="stylesheet" type="text/css" href="/public/css/chat_new.css"/>


	<script type="text/javascript" src="/public/js/lib/jquery-1.6.3.min.js"></script>
	<script type="text/javascript" src="/public/js/lib/we.min.js"></script>
	<script type="text/javascript">

		var USER = <%- JSON.stringify(user)%>;
		var ROOM = <%- JSON.stringify(room)%>;
		
	</script>
</head>
<body>
	
	<div>
		<input value = "e3238e39e72fdb588d6e5bb360fa90b0|275fccab7935736ff68c95c3ddbfaaee|07871915a8107172b3b5dc15a6574ad3" id="sid1">
		<input type="button" value="连接lujun" id="btn1">
	</div>
	<div>
		<input value = "475ac64eeae2df7af6c235137309ad9e|056b3391c3f65a6685e4e9cb1b400e39|d3d9446802a44259755d38e6d163e820" id="sid2">
		<input type="button" value="连接123" id="btn2">
	</div>

	
	<video id="local" autoplay="autoplay" style="position:absolute;right:0;top:0;width:300px;height:200px;z-index:1000;"></video>
	<video id="remote" autoplay="autoplay" style="position:absolute;right:300px;top:0;width:300px;height:200px;z-index:1000"></video>

	<script src="/public/js/webchat-rtc.js"></script>

<script>

	  // note: make sure hostname available to all connecting clients
	  //192.168.1.3  10.6.0.170
	  // (ie. probably not `localhost`)
	  WE.rtc.attachStream = function( stream, element ){
	  	if (typeof(element) === "string"){
	      element = document.getElementById(element);
	    }

	    if (navigator.mozGetUserMedia) {
	      if (rtc.debug) console.log("Attaching media stream");
	      element.mozSrcObject = stream;
	      element.play();
	    } else {
	      element.src = webkitURL.createObjectURL(stream);
	    }
	  };

	  	$('#btn1').click(function(){
				init( $("#sid1").val() );			  
		});

		$('#btn2').click(function(){
				init( $("#sid2").val() );			  
		});

		function  init( sid ){

			WE.rtc.connect('ws://vchat-rtc.co:8001', sid);

			WE.rtc.createStream({"video": true, "audio":false}, function(stream){
				// get local stream for manipulation
				WE.rtc.attachStream(stream, 'local');
				
			}, function(){});

			WE.rtc.addRemoteStream = function(stream){
					// show the remote video
					WE.rtc.attachStream(stream, 'remote');
			};

		}	
	  // more rtc callbacks are available
	</script>

</body>
</html>