<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<title><%=accessUser.name%> - Vchat</title>
	<meta name="keywords" content="vchat,vchat.co,多人讨论,话题,活动,兴趣,<%=accessUser.name%>,<%=accessUser.summary%>"/>
	<meta name="description" content="<%=accessUser.name%>,<%=accessUser.summary%>"/>


	<link rel="stylesheet" type="text/css" href="https://www.vchat.co/public/css/common.css"/>
	<link rel="stylesheet" type="text/css" href="https://www.vchat.co/public/css/personal.css"/>

	<script type="text/javascript">

	</script>

</head>
<body>

	<!-- top {user:{user}} -->
	<!--<% include ../common/top.ejs %>-->
	<header> 
		<div class="pull-right header-menu"> 
			<div class="notice-box"> 
				<a href="/user/notices"> 
					<i class="icon-noticedefault"></i>
				</a> 
			</div> 
			<div class="account-box"> 
				<a target="_blank" class="nick-name" href="/user/52462de027f7760417000001"> 
					<img src="https://www.gravatar.com/avatar/d77d53f36d1b24353237b0272586fc3e.jpg?s=48&amp;d=monsterid&amp;r=g"> 
					32132131 
				</a> 
			</div> 
		</div> 
	</header>
	
	<div class="wrap">
		<div class="main">
			<div class="main-inner">
				<div class="main-header">
					<h1>Edit Account</h1>
				</div>	

				<div class="main-content">
					
					<div class="topics">
						<div class="create block">
							<div class="title">Create Topics</div>
							<div class="content">
								<ul>
									<li><a target="_blank" href="/">How we go to shenzhen bay,chat it together</a></li>
								</ul>
							</div>
						</div>
						<div class="involved block">
							<div class="title">Involved Topics</div>
							<div class="content">
								<ul>
									<li><a target="_blank" href="/">How we go to shenzhen bay,chat it together</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="l-aside">
			<div class="create-btn">
				<button class="btn btn-middle">Create Topic</button>
			</div>
			<span class="line"></span>
			<div class="menu">
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/">Notice</a>
					</li>
					<li>
						<a href="/">Topics</a>
					</li>
					<li>
						<a href="/">Edit Avatar</a>
					</li>
					<li>
						<a class="select" href="/">Edit Account</a>
					</li>
					<!-- <li>
						<a href="/">Bind Email</a>
					</li> -->
				</ul>
			</div>
		</div>
	</div>

</body>
</html>