<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<title><%=user.name%> - Vchat</title>
	<meta name="keywords" content="vchat,vchat.co,多人讨论,话题,活动,兴趣,<%=user.name%>,<%=user.summary%>"/>
	<meta name="description" content="<%=user.name%>,<%=user.summary%>"/>


	<link rel="stylesheet" type="text/css" href="/public/css/common.css"/>
	<link rel="stylesheet" type="text/css" href="/public/css/personal.css"/>

	<script type="text/javascript">

		var USER = <%- JSON.stringify(user) %>;
		var contacts = <%- JSON.stringify(contacts)%>;
		var joinTopics = <%- JSON.stringify(joinTopics)%>;

	</script>

</head>
<body>

	<!-- top {user:{user}} -->
	<% include ../common/top.ejs %>
	
	<div class="wrap">
		<div class="main">
			<div class="main-inner">
				<div class="main-header">

					<div class="user-info">
						<div class="avatar pull-left">
							<img alt="<%=user.name%>" src="<%= user.avatar%>">
						</div>
						<div class="base pull-left">
							<span class="name"><%= user.name%></span>
							<span class="des">
								<%-tool.revertHtmlTag(user.summary)%>
								<%if(!user.summary){%>
									Introduce yourself
								<%}%>
							</span>
						</div>
					</div>
				</div>	

				<div class="main-content">
					<div class="recent-topic">
						<div class="title">
							<i class="icon-chat"></i>
							Recently Topics
						</div>

						<div class="content">
							<ul>
								<li><a href="/">How we go to shenzhen bay,chat it together</a></li>
							</ul>
						</div>


					</div>
					<div class="recent-user">
						<div class="title">
							<i class="icon-users"></i>
							Recently Chat With
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="l-aside">
			<div class="create-btn">
				<button class="btn btn-middle">Create Topic</button>
			</div>
			<span class="line"></span>
			<div class="menu">
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/">Notice</a>
					</li>
					<li>
						<a href="/">Topics</a>
					</li>
					<li>
						<a href="/">Edit Avatar</a>
					</li>
					<li>
						<a href="/">Edit Account</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

</body>
</html>