
<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>我的全部提醒</title>
	<!-- <link rel="stylesheet" type="text/css" href="/public/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/all.css"> -->

	<link rel="stylesheet" type="text/css" href="/public/css/common.css"/>
	<!-- <link rel="stylesheet" type="text/css" href="/public/css/chat_new.css"/> -->

	<style type="text/css">
	.notice-page{padding-top:20px;}
		.no-notice{color:#ccc;text-align:center;padding:180px 0px;}

		.notice-page .notice-nav{font-size:13px;display:inline-block;color:#8a8a8a;font-weight:normal;margin-left:15px;}
		.notice-page .notice-nav a{margin-left:8px;color:#999;}
		.notice-page .notice-nav a:hover,.notice-page .notice-nav a.on:hover{color:#fff;}
		.notice-page .notice-nav a.on{color:#333;}
		.notice-page .header h1{font-size:23px;border-bottom:#cecece solid 1px;}
		.notice-page .list li{border-bottom:#eee dotted 1px;padding:6px 0px;font-size:13px;}
		.notice-page .list{min-height:350px;}
		.notice-page .list .time{margin-right:10px;}
	</style>

	<script type="text/javascript">

		var USER = <%- JSON.stringify(user) %>;

	</script>

</head>
<body>
	<!-- top {user:{user}} -->
	<% include ../common/top.ejs %>

	<div class="container">
		<div class="notice-page">
			<div class="header">
				<h1>
					<span>我的全部提醒</span>
					<div class="notice-nav">
						<a  <%- noticeStatus == 'unread' ? 'class="on"' : "" %> href="/user/notices?status=unread">未读</a>	
						<a  <%- noticeStatus == 'read' ? 'class="on"' : "" %> href="/user/notices?status=read">已读</a>
					</div>
				</h1>

			</div>
			<div class="row">
				<div class="span10">
					<%if(list && list.length > 0){%>
						<ul class="list" id="noticeList">
							<% 
								var item = null;
								var isBtn = noticeStatus == "unread";
								for(var i=0; i<list.length; i++){
									item = list[i];	
							%>	
								<li>
									<a href="/user/<%=item.from._id%>"><%=item.from.name%></a> 在 
									<a href="/d/<%=item.response%>"><%=item.where.topic%></a> 回复了你
									<%if(isBtn){%>
									<a class="pull-right un-notice" data-mid="<%=item._id%>" href="javascript:;">不再提醒</a>
									<%}%>
								</li>
							<%}%>
						</ul>
					<%}else{%>
						<p class="no-notice">未收到新的回复提醒</p>
					<%}%>
				</div>
			</div>
		</div>
	</div>


	<% include ../common/footer.ejs %>	

	

	<script type="text/javascript" src="/public/js/jquery-1.6.3.min.js"></script>
	<script type="text/javascript" src="/public/js/we.min.js"></script>
	<script type="text/javascript" src="/public/js/we.top.min.js"></script>
	<script type="text/javascript">
	$(function(){

		$('#noticeList').delegate('.un-notice','click',function(){
			var mid = $(this).attr('data-mid');
			new WE.api.NoticeModel().noticeStatus( mid );
			$(this).closest('li').animate({'opacity':'0'},800,function(){
				$(this).remove();
			});
		});
		
	});
	</script>

</body>
</html>
