<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title> <%=albums.name%> -vchat</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/all.css"/>
	<script>
		var USER = <%- JSON.stringify( user ) %>;
		var photos = <%- JSON.stringify( photos ) %>;
		var albums = <%- JSON.stringify( albums ) %>;
	</script>
</head>
<body>
<% include ../common/top.ejs %>

	<div class="container">
		<div class="bd">

			<ul class="breadcrumb">
				<li> <a href="/p/<%=albums.roomId%>">图册</a> /</li>
				<li> <a href="/p/r/<%=albums._id%>/page/1"><%=albums.name%></a> /</li>
				<li class="active">图片列表(<%=albums.photoCount%>)</li>
				<li class="pull-right"><a href="/p/create-photo/<%=albums._id%>">上传图片</a></li>
			</ul>

			<ul class="albums-list" id="albums-list">
				<%
					var item = null;
					var albumId = albums._id;
					for(var i=0; i<photos.length; i++){
						item = photos[i];
				%>
					<li>
						<a href="/p/r/<%=albumId%>/<%=item._id%>" rel="detail" >
							<span class="photo-cover">
								<img src="/p/v/<%=item.path_s%>" alt="<%=item.des || item.fileName%>" >
							</span>
						</a>
						<p><%=item.des%></p>
					</li>
				<%}%>
			</ul>

			<div class="pagination">
				<%- pagination %>
			</div>
		</div>

	</div>
<% include ../common/footer.ejs %>
</body>
</html>