<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>上传照片 - Vchat</title>
	<link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/public/css/all.css">
	<link rel="stylesheet" type="text/css" href="/public/css/common.css"/>
	<link rel="stylesheet" type="text/css" href="/public/css/albums.css">
	<script> 
		var USER = <%-JSON.stringify(user)%>;
		var albums = <%-JSON.stringify(albums)%>;
	</script>

	<style>
		
		.file-list li{position: relative;margin:10px 0;}	
		.file-list .progress{position:absolute;z-index: 1;width:100%;top:0;}
		.input-file-box{position: relative;}
		.inputfile{position: absolute;;width:100%;height: 100%;top:0;left:0;opacity: 0;}
		.file-item{position: absolute;z-index:2;top:0;}
	</style>
</head>
<body>

<% include ../common/top.ejs %>
<div class="container">
		<div class="bd">
			<div class="row">
				
				<div class="span8">
					
					<h2>上传计算机中的图片</h2>
					<p>  上传到: <a href="/p/r/<%=albums._id%>/page/1"><%= albums.name%></a> </p>
					<p>可以选择任意图片类型，第一张照片会作为封面</p>
					<hr>
					<%if( user && !(/^d+$/.test(user.mail)) ){%>
					<div>
						
						<form action="/p/create-photo" method="post" enctype="multipart/form-data">
							<p>
								<input type="hidden" name="uploadType" value="form" >
								<input type="hidden" name="albumsId" value="<%=albums._id%>">	
								<input type="file" name="photo" id="">
							</p>
							<p>
								<input type="submit" value=" 上 传 " class="btn btn-primary" >
								| <a href="/p/r/<%=albums._id%>/page/1">返回图册</a>
							</p>
						</form>

					</div>
					<%}else{%>
						<div class="alert" >
							绑定email，或者成为我们的email注册用户<br/>
							上传照片
						</div>
					<%}%>
					<hr/>
					<div> 
						Chrome, firefox, Opear, Safari 浏览器支持 <a href="/p/create-photo/<%=albums._id%>">批量上传</a>
					</div>
				</div>
				<div class="span4">
					
					<ul style="margin-top:100px">
						<li>任何注册用户可上传图片到任何相册</li>
						<li>图片创建者有编辑删除权限</li>
						<li>图册创建者有删除权限</li>
						<li>第一张照片作为图册封面（被删除仍然有效）</li>
					</ul>
					
				</div>	

			</div>
		</div>
</div>
<% include ../common/footer.ejs %>

<script type="text/tmpl" id="uploadFileItem">
	<li>
		<div class="file-item">
			<span>$name$</span>
			|
			<span>$size$</span>
		</div>
		<div class="progress progress-info" style="margin-bottom: 9px;">
          <div class="bar" style="width:0%"></div>
        </div>
	</li>
</script>
<script type="text/javascript" src="/public/js/jquery-1.6.3.min.js"></script> 
<script type="text/javascript" src="/public/js/we.min.js"></script>
<script type="text/javascript" src="/public/js/we.top.min.js"></script> 

</body>
</html>