<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>创建相册 - Vchat</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/all.css">
	<script> 
		var USER = <%-JSON.stringify(user)%>;
		var room = <%-JSON.stringify(room)%>;
	</script>
</head>
<body>
<% include ../common/top.ejs %>
<div class="container">
		<div class="bd">
		
		<div class="row">
				
			<div class="span8">
				
				<h2>创建图册</h2>
				<p>为 <a href="/<%=room.name || room.id%>"><%=room.topic%></a> 创建图册
					<a href="/p/<%=room.id%>" class="pull-right" >返回</a>
				</p>
				<hr>
				<%if( user && !(/^d+$/.test(user.mail)) ){%>

				<div>


					<form class="bs-docs-example form-horizontal" action="/p/create-albums" method="post" >
			            <div class="control-group">
			             <input type="hidden" name="roomId" value="<%=room.id%>" >	
			              <label class="control-label" for="label-name">*图册名</label>
			              <div class="controls">
			                <input type="text" name="name" id="label-name" value="<%=defaultAlbumsName%>" placeholder="图册名" required />
			              </div>
			            </div>
			            <div class="control-group">
			              <label class="control-label" for="label-des">描述</label>
			              <div class="controls">
			                <textarea  rows="3" class="span4" name="des" id="label-des" placeholder="相册描述" ></textarea>
			              </div>
			            </div>
			            <div class="control-group">
			              <div class="controls">
			                <label class="radio inline">
			                  <input type="radio" name="permissions" value="0" checked /> 公开
			                </label>
			                <label class="radio inline">
			                  <input type="radio" name="permissions" value="1" /> 非公开
			                </label>

			            	</div>
			            </div>

			        
			            <div class="control-group" >
			            	
			            	<div class="controls">
			            		<button type="submit" class="btn btn-primary"> 创 建 </button>
			            	</div>	

			            </div>
			          </form>

				</div>	
				<%}else{%>
					<div class="alert" >
						绑定email，或者成为我们的email注册用户<br/>
						可使创建图册
					</div>
				<%}%>
			</div>
			<div class="span4">
				<ul style="margin-top:100px;">
					<li>所有email注册用户可以创建图册</li>
					<li>图册创建者和房间创建者对图册有管理权限</li>
					<li>第一张照片作为图册的封面</li>
				</ul>
			</div>	

		</div>
	</div>
</div>
<% include ../common/footer.ejs %>
<script type="text/javascript" src="/js/jquery-1.6.3.min.js"></script> 
<script type="text/javascript" src="/js/we.min.js"></script>
<script type="text/javascript" src="/js/we.top.min.js"></script> 

</body>
</html>