<!DOCTYPE HTML>
<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<title><%=room.topic%> 图册 - vchat</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/all.css"/>
	<script>
		var USER = <%- JSON.stringify( user )%>;
		var albums = <%- JSON.stringify(albums) %>;
		var room = <%- JSON.stringify(room) %>;
	</script>
</head>
<body>
<% include ../common/top.ejs %>
	<div class="container">
		<div class="bd">

			<ul class="breadcrumb">
				<li><a href="/<%=room.name || room.id %>"><%= room.topic %></a></li>
			</ul>

			<ul class="albums-list" id="albums-list">
				<%
					var item = null;
					for(var i=0; i<albums.length; i++){
						item = albums[i];
				%>
					<li>
						<span class="thumbnail albums-cover" >
							<a  href="/p/r/<%=item._id%>/page/1">
									<img src="/p/v/<%=item.facePhoto%>">
							</a>
						</span>
						<p class="albums-info">
							<a title="<%=item.name%>" href="/p/r/<%=item._id%>/page/1"><%=item.name%></a>
							<small class="muted"><%=item.photoCount%> 张照片</small>
						</p>
					</li>
				<%}%>
			</ul>
		</div>

	</div>
<% include ../common/footer.ejs %>
</body>
</html>