<!DOCTYPE HTML>
<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<title><%=room.topic%> 图册 - vchat</title>
	<link rel="stylesheet" type="text/css" href="/public/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/public/css/common.css"/>
	<link rel="stylesheet" type="text/css" href="/public/css/albums.css">
	<script>
		var USER = <%- JSON.stringify( user )%>;
		var albums = <%- JSON.stringify(albums) %>;
		var room = <%- JSON.stringify(room) %>;
	</script>
</head>
<body>
<% include ../common/top.ejs %>
	<div class="container">
		<div class="bd">

			<ul class="breadcrumb">
				<li><a href="/t/<%=room.name || room.id %>"><%= room.topic %></a></li>
				<li class="pull-right" ><a href="/p/create-albums/<%=room.id%>">创建图册</a></li>
			</ul>

			<ul class="albums-list" id="albums-list">
				<%
					var item = null;
					for(var i=0; i<albums.length; i++){
						item = albums[i];
				%>
					<li>
						<span class="thumbnail albums-cover" >
							<a  href="/p/r/<%=item._id%>/page/1">
									<%if( item.facePhoto ){%>
										<img src="/p/v/<%=item.facePhoto%>">
									<%}else{%>
										<img src="/public/images/photo_album_thumb.png" style="height:170px;background:#fff;"/>
									<%}%>
									
							</a>
						</span>
						<p class="albums-info">
							<a title="<%=item.name%>" href="/p/r/<%=item._id%>/page/1"><%=item.name%></a>
							<small class="muted"><%=item.photoCount%> 张照片</small>
						</p>
					</li>
				<%}%>
			</ul>
		</div>

	</div>
<% include ../common/footer.ejs %>
<script type="text/javascript" src="/public/js/lib/jquery-1.6.3.min.js"></script> 
<script type="text/javascript" src="/public/js/lib/we.min.js"></script>
<script type="text/javascript" src="/public/js/we.top.min.js"></script> 

</body>
</html>