<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title><%=albums.name %> - Vchat</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/all.css"/>
	<script>
		var USER = <%- JSON.stringify( user ) %>;
		var albums = <%- JSON.stringify( albums ) %>;
		var photo = <%- JSON.stringify( photo ) %>;
		var nextPhoto = <%- JSON.stringify( nextPhoto )%>;
		var prevPhoto = <%- JSON.stringify( prevPhoto )%>;
		var index =  <%- index %>;
	</script>

</head>
<body>
<% include ../common/top.ejs %>
<div class="container">
	<div class="bd">

			<ul class="breadcrumb">
				<li>
					<a title="" href="/p/r/<%=albums._id%>/page/1"><%=albums.name%></a><span class="divider">/</span>
				</li>
				<li class="active"><%=photo.fileName%></li>
			</ul>

			<div class="photo-page">					
				<div class="pull-right btn-page">
					<span class="muted"><small><%=index%> / <%= albums.photoCount%></small></span>
					<%if( prevPhoto ){%>
					<a class="prev" rel="prev" href="/p/r/<%=albums._id%>/<%= prevPhoto._id %>">上一张</a>
					<%}else{%>
					<span class="prev" rel="disabled" > 上一张 </span>
					<%}%>

					 |

					<%if( nextPhoto ){%>
					<a class="next" rel="next" href="/p/r/<%=albums._id%>/<%= nextPhoto._id %>">下一张</a>
					<%}else{%>
					<span class="next" rel="disabled" > 下一张 </span>
					<%}%>
				</div>

			</div>
			<div class="photo-wall">
				<img src="/p/v/<%=photo.path_m%>" />
			</div>
	
	</div>
</div>
<% include ../common/footer.ejs %>
</body>
</html>