<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>上传照片 - Vchat</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/all.css"/>
</head>
<body>
<% include ../common/top.ejs %>
<div class="container">
	<div class="bd">

			<ul class="breadcrumb">
				<li>
					<a title="" href="/p/r/<%=albums._id%>"><%=albums.name%></a><span class="divider">/</span>
				</li>
				<li class="active"><%=photo.fileName%></li>
			</ul>

			<div class="photo-page">					
				<div class="pull-right btn-page">
					<a class="prev " href="#">上一张</a> |
					<a class="next disabled" href="#">下一张</a>
				</div>

				<span class="muted pull-right"><small>3 / 20</small></span>
			</div>
			<div class="photo-wall">
				<img src="/p/v/<%=albums._id%>/<%=photo.path_m%>" />
			</div>
	
	</div>
<pre>
		
		<%-JSON.stringify(photo)%>

</pre>
</div>
</body>
</html>