<div class="history">
	<h6>> 我创建</h6>
	<ul>
		<% var lengCreate = Math.min(6, creates.length);
		   for(var i = 0; i < lengCreate; i++ ){ %>
		<li>
			<a href="<%= '/'+ ( creates[i].name?creates[i].name:creates[i].id ) %>" title="<%= creates[i].topic %>"><%= creates[i].topic.length > 15 ? creates[i].topic.substr(0,15)+'..' : creates[i].topic %></a>
			<span class="history-des"><%= creates[i].des.length > 15 ? creates[i].des.substr(0,15)+'..' : creates[i].des %></span>
		</li>
		<% }  %>
	</ul>
</div>
<div class="history" >
	<h6>> 最近参与</h6>
	<ul>
		<% 	var lengChats = Math.min(6, intos.length);
			for(var i = 0; i < lengChats;i++ ){ %>
		<li>
			<a href="<%= '/'+ ( intos[i].name?intos[i].name:intos[i].id ) %>" title="<%= intos[i].topic %>"><%= intos[i].topic.length > 15 ? intos[i].topic.substr(0,15)+'..' : intos[i].topic %></a>
			<span class="history-des"><%= intos[i].des.length > 15 ? intos[i].des.substr(0,15)+'..' : intos[i].des %></span>
		</li>
		<% } %>
	</ul>
	<% if( intos.length >= 10 ){ %>
	<!--<a class="history-more" href="javascript:void(0);">查看更多</a>-->
	<% } %>
</div>

