<!DOCTYPE HTML>
<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://www.vchat.co/public/css/common.css">

	<link rel="stylesheet" type="text/css" href="https://www.vchat.co/public/css/chat_new.css">
	<style type="text/css">
		html,body{background: #d5d8dd;}

		.main{width:65%;background:#fff;height:100%;box-shadow: none}
		header{position:relative;}
		.detail-content{padding:60px 45px 30px 45px;}
		.main-content .talk .time:hover{
			text-decoration:none;
		}

		 @media (max-width:800px){
				.main{width:100%;}
				}
	</style>
</head>
<body>
	<!-- top {user:{user}} -->
	<% include ../common/top.ejs %>

	<div class="main set-middle">

		<div class="main-detail main-content">
			
			<div class="main-title">
					<a href="http://vchat.co/<%=room.name ? room.name : room.id%>">
						<h1 title="dshiw"> 
							<i class="icon-chat"></i> 
							<%=room.topic%>
						</h1> 
					</a>
				</div>

			<div class="detail-content">


				<div class="talk">
					<div class="photo">
						<a href="/user/<%=data.from._id%>" target="_blank" data-uid="<%=data.uid%>">
							<img src="<%=data.from.avatar%>" alt="<%=data.from.name%>">
						</a>
					</div>
					<div class="info">
						<div class="head">
							<a href="/user/<%=data.from._id%>" target="_blank" class="name "><%=data.from.name%></a>
							<span class="time"><%=tool.format(data.time*1000)%></span>
						</div>
						<%if(data.aim){%>
						<div class="reply"><%-tool.markdown.format(data.aim.text)%></div>
						<%}%>
						<div class="context"><%-tool.markdown.format(data.text)%></div>
					</div>
				</div>
			</div>

		</div>
	</div>
</body>
</html>