<div class="history">
	<h6>> 我创建</h6>
	<ul>
		<% var lengCreate = Math.min(6, create.length);
		   for(var i = 0; i < lengCreate; i++ ){ %>
		<li>
			<a href="<%= document.location.host+'/'+ create[i].name?create[i].name:create[i].id %>" title="<%= create[i].topic %>"><%= create[i].topic.length > 15 ? create[i].topic.substr(0,15)+'..' : create[i].topic %></a>
			<span class="history-des"><%= create[i].des.length > 15 ? create[i].des.substr(0,15)+'..' : create[i].des %></span>
		</li>
		<% }  %>
	</ul>
</div>
<div class="history" >
	<h6>> 最近参与</h6>
	<ul>
		<% 	var lengChats = Math.min(6, into.length);
			for(var i = 0; i < lengChats;i++ ){ %>
		<li>
			<a href="<%= document.location.host+'/'+ into[i].name?into[i].name:into[i].id %>" title="<%= into[i].topic %>"><%= into[i].topic.length > 15 ? into[i].topic.substr(0,15)+'..' : into[i].topic %></a>
			<span class="history-des"><%= into[i].des.length > 15 ? into[i].des.substr(0,15)+'..' : into[i].des %></span>
		</li>
		<% } %>
	</ul>
	<% if( into.length >= 10 ){ %>
	<!--<a class="history-more" href="javascript:void(0);">查看更多</a>-->
	<% } %>
</div>

