<form action="/sys/update_room" method="post" id="updateRoomForm">
	<ul class="reset">
		<li>
			<input type="hidden" value="<%=id%>" name="id"  id="roomid" >
		</li>
		<li>
			<label>访问地址</label>
			<div>
				<input type="text" value="<%= name ? name : id %>" id="roomName" name="name" >
				<span class="hidden keyerror error">该访问地址已存在,请修改</span>
			</div>
			<div class="fc_bb" id="roomName-tip"><%=document.location.host%>/<%= name ? name : id %></div>
		</li>
		<li>
			<label>主题</label>
			<input type="text" value="<%=topic%>" id="roomTopic" class="span4" name="topic" > 
		</li>
		<li>
			<label>副标题</label>
			<textarea style="width:400px;" id="roomDes" name="des"><%=des%></textarea>
		</li>
		<li>
			<label class="checkbox"><input type="checkbox" id="isSetLimit" <%if(password != null){%> checked <%}%>>访问权限</label>
			<input <%if(password == null){%> style="display:none;" <%}%> type="text" id="roomPwd" placeholder="设置邀请码" name="password" maxlength="30" value="<%=password%>"/>
		</li>
		<li>
			<input type="submit" value="提交" class="btn"> <a href="javascript:;" class="out" >取消</a> 
		</li>
	</ul>
</form>